.header {
  width: 100%;
  background-color: rgb(19, 18, 17);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s ease-in;
}

.header.fixed {
  background-color: rgb(255, 255, 255);
  transition: .3s ease-in;
  box-shadow: 0 1px 0 0 ;
}

.logo {
  height: 50px;
}

.header__sign-in:hover {
  opacity: 0.99;
}

.header__button-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
