.jsonResponse {
  // &Block {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   border: 1px solid rgba(224, 224, 224, 1);
  //   border-radius: 5px;
  //   margin: 0 5%;
  //   gap: 1px;
  //   background: #878787;
  //   font-size: 18px;
  //   font-weight: 800;
  // }
  // &Line {
  //   display: flex;
  //   gap: 15px;
  //   background: white;
  //   padding: 5px 15px;
  // }
  width: 100%;
  flex: 1;
  display: flex;
  & pre {
    padding: 10px 30px;
    flex: 1;
    background: #000 !important;
    font-weight: 800;
    font-size: 16px;
    & span {
      white-space: normal;
    }
  }
}

.responseStatus {
  display: flex;
  gap: 5px;
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 5px;
  align-self: end;
  margin-right: 10px;
}
