.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
  align-items: center;
}

.historyHeading {
  text-align: center;
  margin-bottom: 20px;
}

.historyContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.historyLink {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.historyLink:hover {
  text-decoration: underline;
}

.historyButtons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.historyNumber {
  font-size: 24px;
  min-width: 30px;
}

.historyRequest {
  display: flex;
  gap: 20px;
}

.tableNumber {
  width: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.requestsTop {
  display: flex;
  text-align: center;
  width: 100%;
  gap: 20px
}

.tableRequest {
  text-align: center;
  // width: 100%;
  font-size: 24px;
  font-weight: 700;
  min-width: 50px;
}

.historyTable {
  padding: 20px;
  width: 500px;
}

@media screen and (max-width:500px) {
  .tableRequest {
    font-size: 14px;

  }

  .tableNumber {
  font-size: 14px;
  }
  .historyNumber {
    font-size: 14px;
  }
  
  .historyRequest {
    font-size: 14px;
    max-width: 100%;
  }
  .historyLink {
    font-size: 14px;
  }
  .historyTable {
    width: 300px;
  }
  }