.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-size: 24px;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}